html,body,h1,h2{
    margin:0;
    padding:0;
    font-family:sans-serif;
    }
header{
    position:fixed;
    color:#fff;
    display:flex;
    padding:2.5rem 3rem;
    gap:3rem;
    z-index:1;
    }
nav {
    display:flex;
    gap:2.3rem;
    text-transform:uppercase;
    align-items:center;
    }
nav a{
    text-decoration:none;
    font-size:.85rem;
    font-weight:700
    }
nav a:hover{
    text-decoration:underline;
    font-size:.100rem;
    font-weight:900;
    }
.home1 {
    background-image: url("../image/ds1.jpg");
}
.about1 {
    background-image: url("../image/aldgrave.webp");
    }
.tickets1 {
    background-image: url("../image/ds3.jpeg");
    }
.feature { 
    position: absolute;
    top:auto;
    left:auto;
    color: #fff;
    display:flex;
    flex-direction: column;
    gap: .9rem;
}
.container {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-repeat:no-repeat;
    background-size:cover;    
}
.ln1{
    margin-top:0;
    font-size:1.2rem;
    text-transform:uppercase;
    opacity:1;
    color:#fff;
    }
.ln2{
    margin-top:0;
    font-size:2.5rem;
    text-transform:uppercase;
    opacity:1;
    color:#fff;
    }  
.more{
    margin-top:1.2rem;
    display:inline-block;
    max-width:200px;
    text-transform:uppercase;
    font-weight:700;
    font-size:.85rem;
    letter-spacing:.1rem;
    opacity:1;color:#fff;
    border:2px solid white;
    padding:1rem 2rem;
    text-decoration:none;
    }
div a{
        margin-top:1.2rem;
        display:inline-block;
        max-width:200px;
        text-transform:uppercase;
        font-weight:900;
        font-size:1.2rem;
        letter-spacing:.1rem;
        opacity:1;color:#fff;
        border:2px solid rgb(147, 45, 45);
        padding:1rem 2rem;
        text-decoration:none;
    }
footer{
    background:black;
    text-align:center;
    color:#555;
    padding:10px;
    }
.foot1 {
    font-family:'Sedgwick Ave';
    font-size: 2.3rem;
    font-weight: 900;
    color: darkred;
    border-radius: 0%;
    position: relative;
    z-index:2;
}
